{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="clearfix">
	<header class="push_4 grid_4">
			<h1>Projects App</h1>
	</header>
	<article>
		<header class="push_4 grid_4">
			<h2>¿Quienes somos?</h2>
		</header>
		<p>
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</p>
	</article>
	<article>
		<header class="push_4 grid_4">
			<h2>Nuestros servicios</h2>
		</header>
		<p>
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</p>
	</article>
	<article>
		<header class="push_4 grid_4">
			<h2>Contactenos</h2>
		</header>
		<p class="push_3 grid_6">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</p>
	</article>
</section>
<footer class="grid_12">
      <section>
        <a href="#" class="grid_3">Sony</a>
        <a href="#" class="grid_3">Apple</a>
        <a href="#" class="grid_3">CISCO</a>
        <a href="#" class="grid_3">Movistar</a>
	  </section>
</footer>
{% endblock %}