{% extends "base.html" %}

{% block title %}Proyecto{% endblock %}

{% block content %}
<section>
	<p class="push_6 grid_3"><h3>Hola, fabian</h3></p>
	<img class"grid_3" src="">
</section>
<article>
	<header>
		<h1>¿Que quieres hacer?</h1>
	</header>
	<section>
		<section class="grid_4">
			<img src="">
			<h3>Nuevo Proyecto</h3>
		</section>
		<section class="grid_4">
			<img src="">
			<h3>Mis proyectos</h3>
		</section>
		<section class="grid_4">
			<img src="">
			<h3>Ver estadisticas</h3>
		</section>
	</section>
</article>
{% endblock %}